@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0px 30vw;
    box-sizing: border-box; */
}
.icon-div {
    height: 100px;
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-title {
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 43px;
    font-weight: 700;
}
.input-section {
    margin-top: 50px;
    width: 350px;
    /* border: 1px solid red; */
    font-family: "Poppins", sans-serif;
    margin-bottom: 5vh;
}
.email-address {
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.input {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #141414;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    &:hover {
        border: 1px solid white;
    }
    color: white; 
}
.input::placeholder {
    font-family: "Poppins", sans-serif;
    color: #a7a7a7;
    font-weight: 500;
}
.phone-number {
    margin-top: 5px;
}
.phone-number a {
    color: #0ee24e;
    font-size: 13px;
}
.next {
    background-color: #0ee24e;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 50px;
}
.or-container {
    height: 20px;
    /* width: ; */
    /* border: 1px solid blue; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    /* flex-direction: column; */
}
.or-left {
    width: 100%;
}
.or-right {
    width: 100%;
}
.or-left hr, .or-right hr {
    border: 0;
    border-top: 1px solid #7a7a7a;
}
.google, .facebook, .apple {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #141414;
    color: white;
    border: 1px solid #7a7a7a;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.google svg, .facebook svg, .apple svg{
    /* border: 1px solid purple; */
    position: absolute;
    left: 8%;
}
